<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.png">
    {{ if config:captcha:enabled }} {{ captcha:head }} {{ /if }}
    {{ partial:components/common/seo }}
    {{ vite src="resources/js/app.js" }}
    {{ partial:components/typography/fonts }}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WTNCVT2RDY"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WTNCVT2RDY');
    </script>

    {{ livewire:styles }}
</head>
<body>
{{ template_content }}

{{ livewire:scriptConfig }}
</body>
</html>
