<main id="content" class="flex flex-col min-h-screen">
    {{ partial:layout/header/index }}

    {{ partial:components/block padding_top="md" padding_bottom="base" }}
        <div class="flex justify-between">
            {{ partial:layout/breadcrumbs }}

            {{ partial:components/common/button link="/products" colour="black" style="Solid" }}
                View All Products
            {{ /partial:components/common/button }}
        </div>

        <div class="grid grid-cols-2 gap-x-24 mt-12">
            <div class="space-y-4">
                {{ partial:alpine/carousel }}
            </div>

            <div class="flex flex-col gap-8">
                <h2>{{ title }}</h2>

                <div class="space-y-1">
                    {{ partial:components/text/money class="text-xl font-bold" }}
                        {{ price }}
                    {{ /partial:components/text/money }}
                </div>

                <div class="space-y-1">
                    <strong>Details</strong>

                    <div class="bard text-base">
                        {{ content }}
                    </div>

                    {{ cart:add class="flex flex-col items-start gap-4 mt-12" }}
                        <input type="hidden" name="product" value="{{ page:id }}">
                        <label>
                            Quantity
                            <input type="number" name="quantity" min="1" value="1" required class="">
                        </label>
                        <button class="bg-primary px-6 py-3 lg:px-8 lg:py-3 text-base text-white inline-flex items-center gap-4 font-medium text-center whitespace-nowrap transition-colors rounded-outer cursor-pointer">
                            Add to cart
                        </button>
                    {{ /cart:add }}
                </div>
            </div>

        </div>
    {{ /partial:components/block }}

    {{ partial:layout/footer/index }}
</main>
