{{#
    Displays the "Order Notes" step in the Checkout process.
#}}

{{ partial:checkout/components/step title="Order Notes" }}
    <div class="flex flex-col space-y-4">
        <p class="text-sm text-gray-600">{{ "Add any special instructions for your order (optional)" | trans }}</p>
        
        <div>
            <label for="order_notes" class="block text-sm font-medium text-gray-700">{{ "Order Notes" | trans }}</label>
            <div class="mt-1">
                <textarea
                    id="order_notes"
                    name="order_notes"
                    rows="4"
                    placeholder="{{ 'e.g. for a bundle if you need a different size for a specific item, please provide details here.' | trans }}"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary sm:text-sm"
                ></textarea>
            </div>
            
            <template x-if="errors.hasOwnProperty('order_notes')">
                <ul class="mt-1">
                    <template x-for="error in errors['order_notes']">
                        <li class="text-red-600 text-sm" x-text="error"></li>
                    </template>
                </ul>
            </template>
        </div>
    </div>

    {{ slot:footer }}
        {{ partial:checkout/components/button label="Continue →" type="submit" }}
    {{ /slot:footer }}
{{ /partial:checkout/components/step }}