{{ partial:components/block }}
    {{ if mode === 'Recent' }}
        {{ articles = {collection:articles limit="5"} }}
    {{ /if }}

    <div class="grid md:grid-cols-2 gap-12">
        <iframe data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v14.0/plugins/page.php?adapt_container_width=true&amp;app_id=849632328416506&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df573d76dadc0a9d98%26domain%3Dwww.hpbaseball.co.nz%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.hpbaseball.co.nz%252Ffed3455d07974c79c%26relation%3Dparent.parent&amp;container_width=381&amp;height=500&amp;hide_cover=false&amp;hide_cta=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fhpbaseballnz%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;show_posts=true&amp;small_header=true&amp;width=500" style="border: none; visibility: visible; width: 381px; height: 500px;" class=""></iframe>
        <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23D50000&amp;ctz=Pacific%2FAuckland&amp;showTitle=1&amp;showDate=1&amp;showTabs=0&amp;mode=AGENDA&amp;showNav=0&amp;src=Y19iMWl1ZjNpOGJwNWljMGVxM2N1cTcwc2VjNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23616161" style="border:solid 1px #777" width="390" height="400" frameborder="0" scrolling="no"></iframe>
    </div>

    {{ partial:components/common/grid }}
        {{ articles }}
            {{ partial:components/common/article }}
        {{ /articles }}
    {{ /partial:components/common/grid }}
{{ /partial:components/block }}
