{{ partial:components/block }}
    {{ if mode === 'Recent' }}
        {{ articles = {collection:articles limit="5" sort="date:desc"} }}
    {{ /if }}

    {{ partial:components/common/grid }}
        {{ articles }}
            {{ partial:components/common/article title_colour="{{ block_title_colour }}" }}
        {{ /articles }}
    {{ /partial:components/common/grid }}

    <div class="mt-8 {{ if calendar_iframe_url and facebook_iframe_url }} grid md:grid-cols-2 {{ else }} flex items-center max-w-xl w-full mx-auto {{ /if }} gap-12">
        {{ if calendar_iframe_url }}
            <div class="aspect-square w-full overflow-hidden rounded-md">
                <iframe loading="lazy" src="{{ calendar_iframe_url }}" class="w-full h-full border border-gray-600 min-w-0" frameborder="0" scrolling="no"></iframe>
            </div>
        {{ /if }}
        {{ if facebook_iframe_url }}
            <div class="aspect-square w-full bg-gray-light flex items-center justify-center rounded-md overflow-hidden">
                <iframe loading="lazy" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="{{ facebook_iframe_url }}" style="border: none; visibility: visible; width: 100%; max-width: 381px; height: 100%; max-height: 500px;"></iframe>
            </div>
        {{ /if }}
    </div>
{{ /partial:components/block }}
