{{ if heading === 'H1' }}
    {{ $tag = 'h1' }}
{{ elseif heading === 'H2' }}
    {{ $tag = 'h2' }}
{{ elseif heading === 'P' }}
    {{ $tag = 'p' }}
{{ else }}
    {{ $tag = 'p' }}
{{ /if }}

{{ partial:components/block }}
    <div class="{{ if keyline && alignment === 'Left' }} border-b border-b-2 pb-8 {{ /if }}">
        {{ if alignment === 'Center' }}
            <{{ $tag }} class="text-4xl md:text-5xl font-bold text-balance xl:text-center">{{ title }}</{{ $tag }}>
        {{ /if }}

        {{ if alignment === 'Left' }}
            <{{ $tag }} class="text-4xl md:text-5xl font-bold">{{ title }}</{{ $tag }}>
        {{ /if }}
    </div>

{{ /partial:components/block }}
