@import "tailwindcss";

@custom-variant scrolled (&.scrolled);
@custom-variant header-scrolled (&:where(header.scrolled *));

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 1280px;
}

@theme {
    /* Colours */
    --color-primary: #ce0e2d;
    --color-primary-light: #fee7e4;
    --color-primary-contrast: #fff;

    --color-secondary: #f8df8d;
    --color-secondary-light: #fdf2d3;
    --color-secondary-contrast: #000;

    --color-gray: #58595b;
    --color-gray-light: #F8F8F8;
    --color-black: #191A1B;
    --color-white: #fff;

    /* Radius */
    --radius-outer: 6px;
    --radius-inner: 4px;

    /* Padding */
    --padding-none: 0;
    --padding-sm: 2rem;
    --padding-md: 5rem;
    --padding-base: 10rem;
    --padding-lg: 12rem;
    --padding-xl: 16rem;
}

@media (max-width: 1024px) {
    :root {
        --padding-none: 0;
        --padding-sm: 1rem;
        --padding-md: 4rem;
        --padding-base: 5rem;
        --padding-lg: 6rem;
        --padding-xl: 8rem;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
