<div class="flex flex-col gap-8 lg:gap-12">
    <a title="{{ title }}" href="{{ url }}">
        {{ image }}
            {{ partial:components/common/image class="aspect-square" preset="md-webp" }}
        {{ /image }}
    </a>

    <div class="flex flex-col gap-2">
        <a href="{{ url }}" class="hover:text-primary transition-colors">
            <strong class="max-w-[200px] text-balance">{{ title }}</strong>
        </a>

        <div class="flex item-start flex-col items-baseline md:flex-row gap-2">
            {{ if settings:shop_enabled }}
                {{ if product_variants }}
                    <div class="flex items-baseline gap-1">
                        <span class="text-sm text-gray-600">from</span>
                        {{ product_variants:options sort="price:asc" limit="1" }}
                            {{ partial:components/text/money }}{{ price }}{{ /partial:components/text/money }}
                        {{ /product_variants:options }}
                    </div>
                {{ else }}
                    {{ partial:components/text/money }}{{ price }}{{ /partial:components/text/money }}
                {{ /if }}
            {{ /if }}
            <a href="{{ url }}" class="text-sm underline hover:text-primary transition-colors">
                View details
            </a>
        </div>
    </div>
</div>
